body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

.container {
  width: 500px;
  margin: 80px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
}

.answer-box {
  margin-top: 15px;
  background: #eef2ff;
  padding: 10px;
  border-radius: 5px;
}
